1.Extract Data from HCAD for Real_Acct Table, multiple years:

In [2]:
# Import dependency modules:
import pandas as pd
import csv
import zipfile
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# from secret import username, password

define file name/ path 
reference: hhttps://www.simplifiedpython.net/python-zip-file-example/

In [3]:
zip2018 = "Resources/2018 files.zip"
zip2019= "Resources/2019 files.zip"

1a. Unzip 2018 real_acct.txt

In [4]:
my_zipfile_2018 = zipfile.ZipFile(zip2018, mode='r')

print('Extracting one file...')
my_zipfile_2018.extract("2018 files/real_acct.txt")

print('Extracting Done!')
my_zipfile_2018.close()

Extracting one file...
Extracting Done!

1b. Unzip 2019 real_acct.txt

In [5]:
my_zipfile_2019 = zipfile.ZipFile(zip2019, mode='r')

#Open the zip file in read mode
print('Extracting one file...')
my_zipfile_2019.extract("2019 files/real_acct.txt")

print('Extracting Done!')
my_zipfile_2019.close()

Extracting one file...
Extracting Done!

In [6]:
#Define field names as specified from HCAD  Real Account documentation

field_names_real_acct=["ACCOUNT","TAX_YEAR","MAILTO","MAIL_ADDR_1","MAIL_ADDR_2","MAIL_CITY","MAIL_STATE","MAIL_ZIP",\
                       "MAIL_COUNTRY","UNDELIVERABLE","STR_PFX","STR_NUM","STR_NUM_SFX", "STR_NAME","STR_SFX","STR_SFX_DIR",\
                       "STR_UNIT","SITE_ADDR_1","SITE_ADDR_2", "SITE_ADDR_3","STATE_CLASS","SCHOOL_DIST","MAP_FACET",\
                       "KEY_MAP","NEIGHBORHOOD_CODE","NEIGHBORHOOD_GROUP","MARKET_AREA_1","MARKET_AREA_1_DSCR",\
                       "MARKET_AREA_2","MARKET_AREA_2_DSCR","ECON_AREA","ECON_BLD_CLASS","CENTER_CODE", "YR_IMPR",\
                       "YR_ANNEXED","SPLT_DT","DSC_CD","NXT_BUILDING","TOTAL_BUILDING_AREA","TOTAL_LAND_AREA",\
                       "ACREAGE","CAP_ACCOUNT","SHARED_CAD_CODE","LAND_VALUE","IMPROVEMENT_VALUE","EXTRA_FEATURES_VALUE",\
                       "AG_VALUE","ASSESSED_VALUE","TOTAL_APPRAISED_VALUE","TOTAL_MARKET_VALUE", "PRIOR_LND_VALUE",\
                       "PRIOR_IMPR_VALUE","PRIOR_X_FEATURES_VALUE","PRIOR_AG_VALUE","PRIOR_TOTAL_APPRAISED_VALUE",\
                       "PRIOR_TOTAL_MARKET_VALUE","NEW_CONSTRUCTION_VALUE","TOTAL_RCN_VALUE","VALUE_STATUS","NOTICED",\
                       "NOTICE_DATE","PROTESTED","CERTIFIED_DATE","LAST_INSPECTED_DATE","LAST_INSPECTED_BY",\
                       "NEW_OWNER_DATE","LEGAL_DSCR_1","LEGAL_DSCR_2","LEGAL_DSCR_3","LEGAL_DSCR_4","JURS"]

In [7]:
# Create DataFrame for 2018 Data:
data=[]
with open('2018 files/real_acct.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    for row in csvreader:
        data.append(row)
real_account_2018=pd.DataFrame(columns=field_names_real_acct, data=data)
real_account_2018.sample(2)

,ACCOUNT,TAX_YEAR,MAILTO,MAIL_ADDR_1,MAIL_ADDR_2,MAIL_CITY,MAIL_STATE,MAIL_ZIP,MAIL_COUNTRY,UNDELIVERABLE,...,PROTESTED,CERTIFIED_DATE,LAST_INSPECTED_DATE,LAST_INSPECTED_BY,NEW_OWNER_DATE,LEGAL_DSCR_1,LEGAL_DSCR_2,LEGAL_DSCR_3,LEGAL_DSCR_4,JURS
577968,1003420000002,2018,MAY JAMES J,16106 RILL LN,,HOUSTON,TX,77062-5029,,N,...,N,2018-08-10 00:00:00.000,2017-01-01 00:00:00.000,01652,1994-07-19 00:00:00.000,LT 2 BLK 32,CAMINO SOUTH SEC 3 R/P,,,027 040 041 042 043 044 061 142
546555,0972820000012,2018,SESSUMS RICHARD D,PO BOX 11,,MEADOW BRIDGE,WV,25976-0011,,N,...,N,2018-08-10 00:00:00.000,2010-01-27 12:46:10.920,01286,2011-06-10 00:00:00.000,LT 12 BLK 4,KEMPWOOD SEC 1,,,025 040 041 042 043 044 061 793

In [8]:
# Create DataFrame for 2019 Data:
data=[]
with open('2019 files/real_acct.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    for row in csvreader:
        data.append(row)
real_account_2019=pd.DataFrame(columns=field_names_real_acct, data=data)
real_account_2019.head(2)

,ACCOUNT,TAX_YEAR,MAILTO,MAIL_ADDR_1,MAIL_ADDR_2,MAIL_CITY,MAIL_STATE,MAIL_ZIP,MAIL_COUNTRY,UNDELIVERABLE,...,PROTESTED,CERTIFIED_DATE,LAST_INSPECTED_DATE,LAST_INSPECTED_BY,NEW_OWNER_DATE,LEGAL_DSCR_1,LEGAL_DSCR_2,LEGAL_DSCR_3,LEGAL_DSCR_4,JURS
0,0010010000013,2019,CITY OF HOUSTON,PO BOX 1562,,HOUSTON,TX,77251-1562,,N,...,N,2019-08-02 00:00:00.000,2016-01-01 00:00:00.000,01391,1988-01-02 00:00:00.000,ALL BLK 1,SSBB,,,001 040 041 042 043 044 048 061 265 268 576
1,0010020000001,2019,CURRENT OWNER,1717 SAINT JAMES PLACE STE 112,,HOUSTON,TX,77056-3412,,N,...,Y,2019-07-03 00:00:00.000,2017-11-17 14:58:10.597,00984,2012-10-31 00:00:00.000,TR 15 BLK 2,SSBB,,,001 040 041 042 043 044 048 061 265 268 576

In [9]:
#Cull real_acct_2018 to only what we need:
relevant_fields=[
    "ACCOUNT",
    "TAX_YEAR",
    "SITE_ADDR_1",
    "SITE_ADDR_2",
    "SITE_ADDR_3",
    "STATE_CLASS",
    "NEIGHBORHOOD_CODE",
    "NEIGHBORHOOD_GROUP",
    "ACREAGE",
    "TOTAL_APPRAISED_VALUE",
    "NEW_OWNER_DATE",
    "TOTAL_MARKET_VALUE",
    "LAND_VALUE"]



filtered_real_acct_2018=real_account_2018.loc[:,(relevant_fields)]

# convert data types so not all strings which take up too much memory
filtered_real_acct_2018.loc[:,('ACCOUNT')]=filtered_real_acct_2018['ACCOUNT'].astype(np.int64)
filtered_real_acct_2018.loc[:,('TAX_YEAR')]=filtered_real_acct_2018['TAX_YEAR'].astype(np.int64)
filtered_real_acct_2018.loc[:,("NEIGHBORHOOD_CODE")]=filtered_real_acct_2018["NEIGHBORHOOD_CODE"].astype(np.float64)
filtered_real_acct_2018.loc[:,("NEIGHBORHOOD_GROUP")]=filtered_real_acct_2018["NEIGHBORHOOD_GROUP"].astype(np.int64)
filtered_real_acct_2018.loc[:,("ACREAGE")]=filtered_real_acct_2018["ACREAGE"].astype(np.float64)
filtered_real_acct_2018.loc[:,("TOTAL_APPRAISED_VALUE")]=pd.to_numeric(filtered_real_acct_2018["TOTAL_APPRAISED_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("TOTAL_MARKET_VALUE")]=pd.to_numeric(filtered_real_acct_2018["TOTAL_MARKET_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("LAND_VALUE")]=pd.to_numeric(filtered_real_acct_2018["LAND_VALUE"],errors='coerce')

filtered_real_acct_2018.head()

,ACCOUNT,TAX_YEAR,SITE_ADDR_1,SITE_ADDR_2,SITE_ADDR_3,STATE_CLASS,NEIGHBORHOOD_CODE,NEIGHBORHOOD_GROUP,ACREAGE,TOTAL_APPRAISED_VALUE,NEW_OWNER_DATE,TOTAL_MARKET_VALUE,LAND_VALUE
0,10010000013,2018,0 COMMERCE ST,HOUSTON,77002,X1,5900.05,0,1.0200,0.0,1988-01-02 00:00:00.000,0.0,0.0
1,10020000001,2018,907 COMMERCE ST,HOUSTON,77002,F1,5900.05,0,0.1148,270000.0,2012-10-31 00:00:00.000,270000.0,269000.0
2,10020000003,2018,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,0,0.4160,887006.0,1988-01-02 00:00:00.000,887006.0,860406.0
3,10020000004,2018,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,0,0.2080,443503.0,1996-01-02 00:00:00.000,443503.0,430203.0
4,10020000013,2018,921 COMMERCE ST,HOUSTON,77002,X1,5900.05,0,0.0689,0.0,1999-12-29 00:00:00.000,0.0,0.0

In [10]:
#Cull real_acct_2019 to only what we need:
filtered_real_acct_2019=real_account_2019.loc[:,(relevant_fields)]

# convert data types so not all strings which take up too much memory
filtered_real_acct_2019.loc[:,('ACCOUNT')]=filtered_real_acct_2019['ACCOUNT'].astype(np.int64)
filtered_real_acct_2019.loc[:,('TAX_YEAR')]=filtered_real_acct_2019['TAX_YEAR'].astype(np.int64)
filtered_real_acct_2019.loc[:,("NEIGHBORHOOD_CODE")]=filtered_real_acct_2019["NEIGHBORHOOD_CODE"].astype(np.float64)
filtered_real_acct_2019.loc[:,("NEIGHBORHOOD_GROUP")]=filtered_real_acct_2019["NEIGHBORHOOD_GROUP"].astype(np.int64)
filtered_real_acct_2019.loc[:,("ACREAGE")]=filtered_real_acct_2019["ACREAGE"].astype(np.float64)
filtered_real_acct_2019.loc[:,("TOTAL_APPRAISED_VALUE")]=pd.to_numeric(filtered_real_acct_2019["TOTAL_APPRAISED_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("TOTAL_MARKET_VALUE")]=pd.to_numeric(filtered_real_acct_2018["TOTAL_MARKET_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("LAND_VALUE")]=pd.to_numeric(filtered_real_acct_2018["LAND_VALUE"],errors='coerce')

filtered_real_acct_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476089 entries, 0 to 1476088
Data columns (total 13 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ACCOUNT                1476089 non-null  int64
 1   TAX_YEAR               1476089 non-null  int64
 2   SITE_ADDR_1            1476089 non-null  object
 3   SITE_ADDR_2            1476089 non-null  object
 4   SITE_ADDR_3            1476089 non-null  object
 5   STATE_CLASS            1476089 non-null  object
 6   NEIGHBORHOOD_CODE      1476089 non-null  float64
 7   NEIGHBORHOOD_GROUP     1476089 non-null  int64
 8   ACREAGE                1476089 non-null  float64
 9   TOTAL_APPRAISED_VALUE  1474953 non-null  float64
 10  NEW_OWNER_DATE         1476089 non-null  object
 11  TOTAL_MARKET_VALUE     1476089 non-null  object
 12  LAND_VALUE             1476089 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 146.4+ MB

In [11]:
# Filter data to only single family residential homes use state class = A1
single_fam_res_2018=filtered_real_acct_2018.loc[filtered_real_acct_2018["STATE_CLASS"]=="A1"]
single_fam_res_2019=filtered_real_acct_2019.loc[filtered_real_acct_2019["STATE_CLASS"]=="A1"]

In [12]:
# filter data down to just zip codes inside the loop:
# 2018 data:
Inner_Loop_2018=single_fam_res_2018.loc[(single_fam_res_2018["SITE_ADDR_3"]== "77002")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77005")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77006")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77019")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77025")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77027")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77030")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77054")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77098")]

# 2019 data: 
Inner_Loop_2019=single_fam_res_2019.loc[(single_fam_res_2019["SITE_ADDR_3"]== "77002")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77005")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77006")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77019")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77025")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77027")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77030")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77054")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77098")]

In [13]:
# drop missing data:
Inner_Loop_2018=Inner_Loop_2018.dropna()
Inner_Loop_2019=Inner_Loop_2019.dropna()
Inner_Loop_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30699 entries, 1222 to 1432622
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ACCOUNT                30699 non-null  int64
 1   TAX_YEAR               30699 non-null  int64
 2   SITE_ADDR_1            30699 non-null  object
 3   SITE_ADDR_2            30699 non-null  object
 4   SITE_ADDR_3            30699 non-null  object
 5   STATE_CLASS            30699 non-null  object
 6   NEIGHBORHOOD_CODE      30699 non-null  float64
 7   NEIGHBORHOOD_GROUP     30699 non-null  int64
 8   ACREAGE                30699 non-null  float64
 9   TOTAL_APPRAISED_VALUE  30699 non-null  float64
 10  NEW_OWNER_DATE         30699 non-null  object
 11  TOTAL_MARKET_VALUE     30699 non-null  float64
 12  LAND_VALUE             30699 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 3.3+ MB

In [14]:
# change all column names to lowercase:
Inner_Loop_2018.columns= Inner_Loop_2018.columns.str.lower()
Inner_Loop_2019.columns= Inner_Loop_2019.columns.str.lower()
Inner_Loop_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30765 entries, 1196 to 1444628
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   account                30765 non-null  int64
 1   tax_year               30765 non-null  int64
 2   site_addr_1            30765 non-null  object
 3   site_addr_2            30765 non-null  object
 4   site_addr_3            30765 non-null  object
 5   state_class            30765 non-null  object
 6   neighborhood_code      30765 non-null  float64
 7   neighborhood_group     30765 non-null  int64
 8   acreage                30765 non-null  float64
 9   total_appraised_value  30765 non-null  float64
 10  new_owner_date         30765 non-null  object
 11  total_market_value     30765 non-null  object
 12  land_value             30765 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.3+ MB

In [15]:
# normalize data
properties=Inner_Loop_2019[["account","site_addr_1","site_addr_2", "site_addr_3","state_class","neighborhood_code","acreage","new_owner_date"]]

properties["full_addr"]=properties["site_addr_1"]+" "+properties["site_addr_2"]+ ",TX "+properties["site_addr_3"]
properties=properties.drop("site_addr_1", axis=1)
properties=properties.drop("site_addr_2", axis=1)
properties.head()

<ipython-input-15-98666331ea7a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties["full_addr"]=properties["site_addr_1"]+" "+properties["site_addr_2"]+ ",TX "+properties["site_addr_3"]

,account,site_addr_3,state_class,neighborhood_code,acreage,new_owner_date,full_addr
1196,21750000003,77002,A1,8400.07,0.0405,2009-10-13 00:00:00.000,"2202 CAROLINE ST HOUSTON,TX 77002"
1200,21750000013,77002,A1,8400.01,0.3099,1995-08-02 00:00:00.000,"2218 CAROLINE ST HOUSTON,TX 77002"
1203,21750000018,77002,A1,8400.07,0.0348,2018-06-29 00:00:00.000,"2204 CAROLINE ST HOUSTON,TX 77002"
1204,21750000019,77002,A1,8400.07,0.0395,2001-01-01 00:00:00.000,"2206 CAROLINE ST HOUSTON,TX 77002"
3748,41320000003,77006,A1,8316.03,0.1378,2014-12-12 00:00:00.000,"105 STRATFORD ST HOUSTON,TX 77006"

In [16]:
tax_year_2019= Inner_Loop_2019[["tax_year","account","total_appraised_value","total_market_value","land_value"]]

tax_year_2018= Inner_Loop_2018[["tax_year","account","total_appraised_value","total_market_value","land_value"]]

In [17]:
appraisal=tax_year_2019.append(tax_year_2018)
appraisal.sample(10)

,tax_year,account,total_appraised_value,total_market_value,land_value
1165830,2019,1246810010008,230200.0,230200,82784
222066,2019,600360280013,1386614.0,1386614,646500
250245,2018,640940000030,879356.0,879356,574750
190423,2019,541060000004,2035001.0,2035001,690000
91175,2019,370820000032,1081674.0,1081674,450000
383082,2018,772010010004,382970.0,382970,308765
98911,2019,392200010002,427902.0,427902,115360
184215,2019,520900000117,1196181.0,1196181,675000
222191,2018,600280000020,680238.0,680238,679938
184296,2018,520590580008,482690.0,482690,172480

Get Square footage data

In [18]:
# GET THE RESIDENTIAL DATA CONTAINING HEAT AREA WHICH IS ACTUAL HOME SQUARE FOOTAGE:
# define file name 
# reference: hhttps://www.simplifiedpython.net/python-zip-file-example/
SQFT = "Resources/building_res.zip"
  
#Open the zip file in read mode
SQFT_DATA = zipfile.ZipFile(SQFT, mode='r')

print('Extracting one file...')
SQFT_DATA.extract("building_res.txt")

print('Extracting Done!')
SQFT_DATA.close()

Extracting one file...
Extracting Done!

In [19]:
# extract data from building_res.txt
data=[]
csv.field_size_limit(100000000)
field_names=["ACCOUNT","USE_CODE", "BUILDING_NUMBER", "IMPRV_TYPE", "BUILDING_STYLE_CODE", "CLASS_STRUCTURE",\
                      "CLASS_STRUCTURE_DESC", "DEPRECIATION_VALUE", "CAMA_REPLACMENT_COST", "ACCRUED_DEPR_PCT",\
                      "QUALITY","QUALITY_DESC", "DATE_ERECTED", "EFFETIVE_DATE", "YR_REMODEL","YR_ROLL", "APPRAISED_BY",\
                      "APPRAISED_DATE", "NOTE", "IMPR_SQ_FT", "ACTUAL_AREA", "HEAT_AREA", "GROSS_AREA", "EFFECTIVE_AREA",\
                       "BASE_AREA", "PERIMETER", "PERCENT_COMPLETE","NBHD_FACTOR", "RCNLD", "SIZE_INDEX", "LUMP_SUM_ADJ"]

with open('building_res.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    print(csvreader)
    for row in csvreader:
        data.append(row)
        
building_res_2019=pd.DataFrame(columns=field_names, data=data)
building_res_2019.sample(2)

<_csv.reader object at 0x0000022BFF3A5940>

,ACCOUNT,USE_CODE,BUILDING_NUMBER,IMPRV_TYPE,BUILDING_STYLE_CODE,CLASS_STRUCTURE,CLASS_STRUCTURE_DESC,DEPRECIATION_VALUE,CAMA_REPLACMENT_COST,ACCRUED_DEPR_PCT,...,HEAT_AREA,GROSS_AREA,EFFECTIVE_AREA,BASE_AREA,PERIMETER,PERCENT_COMPLETE,NBHD_FACTOR,RCNLD,SIZE_INDEX,LUMP_SUM_ADJ
1034346,1282460030001,A1,1,1001,101,R,Residential,175590,204174,.860000,...,2100,2569,2198,2100,332,1.00,1.2800,137179.69,.84000,12530
723416,1152730060017,Z4,1,1006,106,R,Residential,158371,251383,.630000,...,1412,1466,1390,1412,242,1.00,2.2500,70387.11,.92000,19906

In [20]:
# Heat area is actual sq footage of home, islotate this portion of data set and reformat column names
home_sq_ft=building_res_2019[["ACCOUNT","HEAT_AREA"]]
home_sq_ft=home_sq_ft.rename(columns={"HEAT_AREA":"sq_ft"})
home_sq_ft.loc[:,("sq_ft")]=pd.to_numeric(home_sq_ft["sq_ft"], errors='coerce')
home_sq_ft.loc[:,("ACCOUNT")]=pd.to_numeric(home_sq_ft["ACCOUNT"], errors='coerce')
home_sq_ft.columns= home_sq_ft.columns.str.lower()
home_sq_ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192605 entries, 0 to 1192604
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   account  1192605 non-null  int64
 1   sq_ft    1192605 non-null  int64
dtypes: int64(2)
memory usage: 18.2 MB

In [21]:
# merge sq ft into properties table on account
properties= properties.merge(home_sq_ft,how='left', on='account')
properties=properties.rename(columns={'site_addr_3':'zip_code'})
properties=properties.drop('state_class', axis=1)
properties.sample(10)

,account,zip_code,neighborhood_code,acreage,new_owner_date,full_addr,sq_ft
10709,590390000015,77005,7425.01,0.1262,2016-11-09 00:00:00.000,"3005 ALBANS RD HOUSTON,TX 77005",2454.0
8152,552750000030,77005,7445.01,0.1332,2005-06-20 00:00:00.000,"5436 COMMUNITY DR HOUSTON,TX 77005",909.0
15538,630270040004,77030,7419.00,0.1516,2004-04-28 00:00:00.000,"2517 WORDSWORTH ST HOUSTON,TX 77030",2250.0
26673,1206480010005,77019,8316.05,0.0411,2007-06-15 00:00:00.000,"2078 BRENTWOOD DR HOUSTON,TX 77019",3478.0
8734,560200000110,77019,8312.01,0.1148,2014-08-27 00:00:00.000,"2310 KINGSTON ST HOUSTON,TX 77019",5563.0
20363,751070020013,77027,8313.00,0.1768,2013-05-03 00:00:00.000,"4012 SUL ROSS ST HOUSTON,TX 77027",2609.0
28701,1241890010016,77030,7600.01,0.0825,2007-01-10 00:00:00.000,"6816 STAFFORDSHIRE ST HOUSTON,TX 77030",2629.0
7486,551050600012,77005,7427.02,0.1722,2014-04-30 00:00:00.000,"3302 GEORGETOWN ST HOUSTON,TX 77005",4707.0
29363,1253520010006,77098,8316.05,0.0428,2006-06-09 00:00:00.000,"2034 COLQUITT ST C HOUSTON,TX 77098",2344.0
453,121150030007,77098,8332.04,0.0413,2009-07-28 00:00:00.000,"2322 STEEL ST 19 HOUSTON,TX 77098",3142.0

In [22]:
# make a datframe 
data=[]
field_names=["neighborhood_code", "group_code", "description"]

with open('resources/real_neighborhood_code.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    for row in csvreader:
        data.append(row)
neighborhood_code=pd.DataFrame(columns=field_names, data=data)
neighborhood_code.sample(5)

      neighborhood_code group_code           description
5376            4703.38          0
10228           7915.09       1149          ONE SAGE RD.
5831            4707.93          0
10729           8308.06       1649  GLEN COVE/CRESTWOOD4
11283           9121.01          0    ELDRIDGE S WEST RD

In [23]:
neighborhood_code=neighborhood_code.rename(columns={'group_code':'neighborhood_group',\
                                                   'description':'neighborhood'})
neighborhood_code['neighborhood_code']=pd.to_numeric(neighborhood_code['neighborhood_code'], errors='coerce')
neighborhood_code['neighborhood_group']=pd.to_numeric(neighborhood_code['neighborhood_group'], errors='coerce')

neighborhood_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12362 entries, 0 to 12361
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   neighborhood_code   12362 non-null  float64
 1   neighborhood_group  12357 non-null  float64
 2   neighborhood        12362 non-null  object
dtypes: float64(2), object(1)
memory usage: 289.9+ KB

In [24]:
neighborhood_code.head(20)

,neighborhood_code,neighborhood_group,neighborhood
0,0.02,1801.0,TEST CONDO NBHD
1,0.50,1089.0,VALUATION TEST NBHD
2,1.00,4026.0,"SETTLERS VILLAGE 1,1R/P & 2"
3,1.01,4025.0,"SETTLERS VILLAGE SEC. 3, 3R/P, 5 ,& 5 R/P"
4,1.04,4160.0,VILLAGES ON GRANT
5,1.05,4025.0,"LAKEVILLE SEC 1,2,4,5,6,7"
6,1.06,4160.0,"GRANT MEADOWS SEC 1,3"
7,1.07,4160.0,"GRANT MEADOWS SEC 2,4 & TELGE RANCH SEC 1"
8,1.08,4160.0,GRANT MEADOWS SEC 5
9,10.00,0.0,ROLLING CREEK Commercial (DO NOT REMOVE)
10,10.01,4139.0,ROLLING CREEK 1/GRAND OAKS
11,10.02,4028.0,BERKSHIRE SEC 1
12,10.03,4028.0,"BERKSHIRE SEC 2,5,6,8"
13,10.04,4028.0,"BERKSHIRE SEC 3,4"
14,10.05,4013.0,WHEATSTONE VILLAGE CLOVERFIELD
15,10.06,4028.0,"BERKSHIRE SEC 7,10"
16,10.07,4028.0,BERKSHIRE SEC 9
17,10.08,4028.0,"BERKSHIRE PLACE SEC 1,2,3,4,5"
18,10.10,4139.0,GRAND OAKS THE PRESERVE
19,10.11,4139.0,GRAND OAKS SEC 3

check account fields for duplication

In [30]:
#  properties:
properties_check= properties
properties_check['dup_acct']= properties_check.duplicated('account')
duplicated= properties_check.loc[properties_check['dup_acct']=='True']
duplicated
properties_check

C:\Users\ellen\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,account,zip_code,neighborhood_code,acreage,new_owner_date,full_addr,sq_ft,dup_acct
0,21750000003,77002,8400.07,0.0405,2009-10-13 00:00:00.000,"2202 CAROLINE ST HOUSTON,TX 77002",1944.0,False
1,21750000013,77002,8400.01,0.3099,1995-08-02 00:00:00.000,"2218 CAROLINE ST HOUSTON,TX 77002",2471.0,False
2,21750000018,77002,8400.07,0.0348,2018-06-29 00:00:00.000,"2204 CAROLINE ST HOUSTON,TX 77002",1944.0,False
3,21750000019,77002,8400.07,0.0395,2001-01-01 00:00:00.000,"2206 CAROLINE ST HOUSTON,TX 77002",1944.0,False
4,41320000003,77006,8316.03,0.1378,2014-12-12 00:00:00.000,"105 STRATFORD ST HOUSTON,TX 77006",2576.0,False
...,...,...,...,...,...,...,...,...
32586,1401440010001,77098,8316.05,0.0717,2019-01-01 00:00:00.000,"0 COLQUITT ST HOUSTON,TX 77098",1633.0,True
32587,1401830010001,77019,8318.06,0.0574,2019-07-08 00:00:00.000,"513 W BELL ST HOUSTON,TX 77019",2554.0,False
32588,1401830010002,77019,8318.06,0.0574,2019-07-24 00:00:00.000,"511 W BELL ST HOUSTON,TX 77019",2554.0,False
32589,1402060010001,77098,8312.05,0.1722,2018-09-18 00:00:00.000,"3318 SACKETT ST HOUSTON,TX 77098",4035.0,False
32590,1403140010001,77019,8318.06,0.0556,2019-01-01 00:00:00.000,"518 W SAULNIER ST HOUSTON,TX 77019",1165.0,False

,account,zip_code,neighborhood_code,acreage,new_owner_date,full_addr,sq_ft,dup_acct
0,21750000003,77002,8400.07,0.0405,2009-10-13 00:00:00.000,"2202 CAROLINE ST HOUSTON,TX 77002",1944.0,False
1,21750000013,77002,8400.01,0.3099,1995-08-02 00:00:00.000,"2218 CAROLINE ST HOUSTON,TX 77002",2471.0,False
2,21750000018,77002,8400.07,0.0348,2018-06-29 00:00:00.000,"2204 CAROLINE ST HOUSTON,TX 77002",1944.0,False
3,21750000019,77002,8400.07,0.0395,2001-01-01 00:00:00.000,"2206 CAROLINE ST HOUSTON,TX 77002",1944.0,False
4,41320000003,77006,8316.03,0.1378,2014-12-12 00:00:00.000,"105 STRATFORD ST HOUSTON,TX 77006",2576.0,False
...,...,...,...,...,...,...,...,...
32586,1401440010001,77098,8316.05,0.0717,2019-01-01 00:00:00.000,"0 COLQUITT ST HOUSTON,TX 77098",1633.0,True
32587,1401830010001,77019,8318.06,0.0574,2019-07-08 00:00:00.000,"513 W BELL ST HOUSTON,TX 77019",2554.0,False
32588,1401830010002,77019,8318.06,0.0574,2019-07-24 00:00:00.000,"511 W BELL ST HOUSTON,TX 77019",2554.0,False
32589,1402060010001,77098,8312.05,0.1722,2018-09-18 00:00:00.000,"3318 SACKETT ST HOUSTON,TX 77098",4035.0,False
32590,1403140010001,77019,8318.06,0.0556,2019-01-01 00:00:00.000,"518 W SAULNIER ST HOUSTON,TX 77019",1165.0,False

Connect to Database and Add Tables

In [ ]:
# connect to local database:
rds_connection_string = f'{username}:{password}@localhost:5432/Houston_Real_Estate_db'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# check for table names:
engine.table_names()

In [ ]:
# Use pandas to load 2018 DataFrame into database
properties.to_sql(name='properties', con=engine, if_exists='append', index=False, chunksize=10000)

In [ ]:
# confirm data has been added
pd.read_sql_query('select * from real_acct', con=engine).info()

In [ ]:
# Use pandas to load 2019 DataFrame into database
appraisal.to_sql(name='appraisal', con=engine, if_exists='append', index=False, chunksize=10000)

In [ ]:
# confirm data has been added
pd.read_sql_query('select * from real_acct', con=engine).info()

In [ ]:
# Use pandas to load DataFrame into database
home_sq_ft.to_sql(name='sq_ft', con=engine, if_exists='append', index=False, chunksize=10000)

In [ ]:
# confirm data has been added
pd.read_sql_query('select * from sq_ft', con=engine).info()

3.  Neighborhood Codes from HCAD

In [ ]:
# Use pandas to load DataFrame into database
neighborhood_code.to_sql(name='neighborhoods', con=engine, if_exists='append', index=False, chunksize=10000)

In [ ]:
# confirm data has been added
pd.read_sql_query('select * from neighborhoods', con=engine).info()