1.Extract Data from HCAD for Real_Acct Table, multiple years:

In [1]:
# Import dependency modules:
import pandas as pd
import csv
import zipfile
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# from secret import username, password

define file name/ path 
reference: hhttps://www.simplifiedpython.net/python-zip-file-example/

In [2]:
zip2018 = "Resources/2018 files.zip"
zip2019= "Resources/2019 files.zip"

1a. Unzip 2018 real_acct.txt

In [3]:
my_zipfile_2018 = zipfile.ZipFile(zip2018, mode='r')

print('Extracting one file...')
my_zipfile_2018.extract("2018 files/real_acct.txt")

print('Extracting Done!')
my_zipfile_2018.close()

Extracting one file...
Extracting Done!

1b. Unzip 2019 real_acct.txt

In [4]:
my_zipfile_2019 = zipfile.ZipFile(zip2019, mode='r')

#Open the zip file in read mode
print('Extracting one file...')
my_zipfile_2019.extract("2019 files/real_acct.txt")

print('Extracting Done!')
my_zipfile_2019.close()

Extracting one file...
Extracting Done!

In [5]:
#Define field names as specified from HCAD  Real Account documentation

field_names_real_acct=["ACCOUNT","TAX_YEAR","MAILTO","MAIL_ADDR_1","MAIL_ADDR_2","MAIL_CITY","MAIL_STATE","MAIL_ZIP",\
                       "MAIL_COUNTRY","UNDELIVERABLE","STR_PFX","STR_NUM","STR_NUM_SFX", "STR_NAME","STR_SFX","STR_SFX_DIR",\
                       "STR_UNIT","SITE_ADDR_1","SITE_ADDR_2", "SITE_ADDR_3","STATE_CLASS","SCHOOL_DIST","MAP_FACET",\
                       "KEY_MAP","NEIGHBORHOOD_CODE","NEIGHBORHOOD_GROUP","MARKET_AREA_1","MARKET_AREA_1_DSCR",\
                       "MARKET_AREA_2","MARKET_AREA_2_DSCR","ECON_AREA","ECON_BLD_CLASS","CENTER_CODE", "YR_IMPR",\
                       "YR_ANNEXED","SPLT_DT","DSC_CD","NXT_BUILDING","TOTAL_BUILDING_AREA","TOTAL_LAND_AREA",\
                       "ACREAGE","CAP_ACCOUNT","SHARED_CAD_CODE","LAND_VALUE","IMPROVEMENT_VALUE","EXTRA_FEATURES_VALUE",\
                       "AG_VALUE","ASSESSED_VALUE","TOTAL_APPRAISED_VALUE","TOTAL_MARKET_VALUE", "PRIOR_LND_VALUE",\
                       "PRIOR_IMPR_VALUE","PRIOR_X_FEATURES_VALUE","PRIOR_AG_VALUE","PRIOR_TOTAL_APPRAISED_VALUE",\
                       "PRIOR_TOTAL_MARKET_VALUE","NEW_CONSTRUCTION_VALUE","TOTAL_RCN_VALUE","VALUE_STATUS","NOTICED",\
                       "NOTICE_DATE","PROTESTED","CERTIFIED_DATE","LAST_INSPECTED_DATE","LAST_INSPECTED_BY",\
                       "NEW_OWNER_DATE","LEGAL_DSCR_1","LEGAL_DSCR_2","LEGAL_DSCR_3","LEGAL_DSCR_4","JURS"]

In [6]:
# Create DataFrame for 2018 Data:
data=[]
with open('2018 files/real_acct.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    for row in csvreader:
        data.append(row)
real_account_2018=pd.DataFrame(columns=field_names_real_acct, data=data)
real_account_2018.sample(2)

,ACCOUNT,TAX_YEAR,MAILTO,MAIL_ADDR_1,MAIL_ADDR_2,MAIL_CITY,MAIL_STATE,MAIL_ZIP,MAIL_COUNTRY,UNDELIVERABLE,...,PROTESTED,CERTIFIED_DATE,LAST_INSPECTED_DATE,LAST_INSPECTED_BY,NEW_OWNER_DATE,LEGAL_DSCR_1,LEGAL_DSCR_2,LEGAL_DSCR_3,LEGAL_DSCR_4,JURS
116152,0410210020382,2018,LAWHON SUSAN HARVIN,1 SOUTH MAIN ST STE 1200,,SALT LAKE CITY,UT,84133-1109,,N,...,Y,2018-08-10 00:00:00.000,2016-02-15 16:04:52.630,,2007-01-01 00:00:00.000,.1150% U/D INT IN PT TRS 5 & 6,(360.00 AC),ABST 65 W SCOTT,,016 040 041 042 043 044 046 051
1295310,1296680070048,2018,PARK LAKES PROPERTY OWNERS ASSN INC % STERLING...,6842 N SAM HOUSTON PKWY W,,HOUSTON,TX,77064-3528,,N,...,N,2018-08-10 00:00:00.000,2015-06-08 11:08:13.350,01587,2010-09-20 00:00:00.000,PRIVATE STREETS,(PAE/PUE),CANYON GATE AT PARK LAKES SEC 16,,018 040 041 042 043 044 045 389 641 671

In [7]:
# Create DataFrame for 2019 Data:
data=[]
with open('2019 files/real_acct.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    for row in csvreader:
        data.append(row)
real_account_2019=pd.DataFrame(columns=field_names_real_acct, data=data)
real_account_2019.head(2)

,ACCOUNT,TAX_YEAR,MAILTO,MAIL_ADDR_1,MAIL_ADDR_2,MAIL_CITY,MAIL_STATE,MAIL_ZIP,MAIL_COUNTRY,UNDELIVERABLE,...,PROTESTED,CERTIFIED_DATE,LAST_INSPECTED_DATE,LAST_INSPECTED_BY,NEW_OWNER_DATE,LEGAL_DSCR_1,LEGAL_DSCR_2,LEGAL_DSCR_3,LEGAL_DSCR_4,JURS
0,0010010000013,2019,CITY OF HOUSTON,PO BOX 1562,,HOUSTON,TX,77251-1562,,N,...,N,2019-08-02 00:00:00.000,2016-01-01 00:00:00.000,01391,1988-01-02 00:00:00.000,ALL BLK 1,SSBB,,,001 040 041 042 043 044 048 061 265 268 576
1,0010020000001,2019,CURRENT OWNER,1717 SAINT JAMES PLACE STE 112,,HOUSTON,TX,77056-3412,,N,...,Y,2019-07-03 00:00:00.000,2017-11-17 14:58:10.597,00984,2012-10-31 00:00:00.000,TR 15 BLK 2,SSBB,,,001 040 041 042 043 044 048 061 265 268 576

In [8]:
#Cull real_acct_2018 to only what we need:
relevant_fields=[
    "ACCOUNT",
    "TAX_YEAR",
    "SITE_ADDR_1",
    "SITE_ADDR_2",
    "SITE_ADDR_3",
    "STATE_CLASS",
    "NEIGHBORHOOD_CODE",
    "NEIGHBORHOOD_GROUP",
    "ACREAGE",
    "TOTAL_APPRAISED_VALUE",
    "NEW_OWNER_DATE",
    "TOTAL_MARKET_VALUE",
    "LAND_VALUE"]



filtered_real_acct_2018=real_account_2018.loc[:,(relevant_fields)]

# convert data types so not all strings which take up too much memory
filtered_real_acct_2018.loc[:,('ACCOUNT')]=filtered_real_acct_2018['ACCOUNT'].astype(np.int64)
filtered_real_acct_2018.loc[:,('TAX_YEAR')]=filtered_real_acct_2018['TAX_YEAR'].astype(np.int64)
filtered_real_acct_2018.loc[:,("NEIGHBORHOOD_CODE")]=filtered_real_acct_2018["NEIGHBORHOOD_CODE"].astype(np.float64)
filtered_real_acct_2018.loc[:,("NEIGHBORHOOD_GROUP")]=filtered_real_acct_2018["NEIGHBORHOOD_GROUP"].astype(np.int64)
filtered_real_acct_2018.loc[:,("ACREAGE")]=filtered_real_acct_2018["ACREAGE"].astype(np.float64)
filtered_real_acct_2018.loc[:,("TOTAL_APPRAISED_VALUE")]=pd.to_numeric(filtered_real_acct_2018["TOTAL_APPRAISED_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("TOTAL_MARKET_VALUE")]=pd.to_numeric(filtered_real_acct_2018["TOTAL_MARKET_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("LAND_VALUE")]=pd.to_numeric(filtered_real_acct_2018["LAND_VALUE"],errors='coerce')

filtered_real_acct_2018.head()

,ACCOUNT,TAX_YEAR,SITE_ADDR_1,SITE_ADDR_2,SITE_ADDR_3,STATE_CLASS,NEIGHBORHOOD_CODE,NEIGHBORHOOD_GROUP,ACREAGE,TOTAL_APPRAISED_VALUE,NEW_OWNER_DATE,TOTAL_MARKET_VALUE,LAND_VALUE
0,10010000013,2018,0 COMMERCE ST,HOUSTON,77002,X1,5900.05,0,1.0200,0.0,1988-01-02 00:00:00.000,0.0,0.0
1,10020000001,2018,907 COMMERCE ST,HOUSTON,77002,F1,5900.05,0,0.1148,270000.0,2012-10-31 00:00:00.000,270000.0,269000.0
2,10020000003,2018,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,0,0.4160,887006.0,1988-01-02 00:00:00.000,887006.0,860406.0
3,10020000004,2018,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,0,0.2080,443503.0,1996-01-02 00:00:00.000,443503.0,430203.0
4,10020000013,2018,921 COMMERCE ST,HOUSTON,77002,X1,5900.05,0,0.0689,0.0,1999-12-29 00:00:00.000,0.0,0.0

In [9]:
#Cull real_acct_2019 to only what we need:
filtered_real_acct_2019=real_account_2019.loc[:,(relevant_fields)]

# convert data types so not all strings which take up too much memory
filtered_real_acct_2019.loc[:,('ACCOUNT')]=filtered_real_acct_2019['ACCOUNT'].astype(np.int64)
filtered_real_acct_2019.loc[:,('TAX_YEAR')]=filtered_real_acct_2019['TAX_YEAR'].astype(np.int64)
filtered_real_acct_2019.loc[:,("NEIGHBORHOOD_CODE")]=filtered_real_acct_2019["NEIGHBORHOOD_CODE"].astype(np.float64)
filtered_real_acct_2019.loc[:,("NEIGHBORHOOD_GROUP")]=filtered_real_acct_2019["NEIGHBORHOOD_GROUP"].astype(np.int64)
filtered_real_acct_2019.loc[:,("ACREAGE")]=filtered_real_acct_2019["ACREAGE"].astype(np.float64)
filtered_real_acct_2019.loc[:,("TOTAL_APPRAISED_VALUE")]=pd.to_numeric(filtered_real_acct_2019["TOTAL_APPRAISED_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("TOTAL_MARKET_VALUE")]=pd.to_numeric(filtered_real_acct_2018["TOTAL_MARKET_VALUE"],errors='coerce')
filtered_real_acct_2018.loc[:,("LAND_VALUE")]=pd.to_numeric(filtered_real_acct_2018["LAND_VALUE"],errors='coerce')

filtered_real_acct_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476089 entries, 0 to 1476088
Data columns (total 13 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ACCOUNT                1476089 non-null  int64
 1   TAX_YEAR               1476089 non-null  int64
 2   SITE_ADDR_1            1476089 non-null  object
 3   SITE_ADDR_2            1476089 non-null  object
 4   SITE_ADDR_3            1476089 non-null  object
 5   STATE_CLASS            1476089 non-null  object
 6   NEIGHBORHOOD_CODE      1476089 non-null  float64
 7   NEIGHBORHOOD_GROUP     1476089 non-null  int64
 8   ACREAGE                1476089 non-null  float64
 9   TOTAL_APPRAISED_VALUE  1474953 non-null  float64
 10  NEW_OWNER_DATE         1476089 non-null  object
 11  TOTAL_MARKET_VALUE     1476089 non-null  object
 12  LAND_VALUE             1476089 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 146.4+ MB

In [14]:
# Filter data to only single family residential homes use state class = A1
single_fam_res_2018=filtered_real_acct_2018.loc[filtered_real_acct_2018["STATE_CLASS"]=="A1"]
single_fam_res_2019=filtered_real_acct_2019.loc[filtered_real_acct_2019["STATE_CLASS"]=="A1"]

In [15]:
# filter data down to just zip codes inside the loop:
# 2018 data:
Inner_Loop_2018=single_fam_res_2018.loc[(single_fam_res_2018["SITE_ADDR_3"]== "77002")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77005")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77006")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77019")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77025")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77027")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77030")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77054")|\
                                            (single_fam_res_2018["SITE_ADDR_3"]== "77098")]

# 2019 data: 
Inner_Loop_2019=single_fam_res_2019.loc[(single_fam_res_2019["SITE_ADDR_3"]== "77002")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77005")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77006")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77019")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77025")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77027")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77030")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77054")|\
                                            (single_fam_res_2019["SITE_ADDR_3"]== "77098")]

In [16]:
# drop missing data:
Inner_Loop_2018=Inner_Loop_2018.dropna()
Inner_Loop_2019=Inner_Loop_2019.dropna()
Inner_Loop_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30699 entries, 1222 to 1432622
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ACCOUNT                30699 non-null  int64
 1   TAX_YEAR               30699 non-null  int64
 2   SITE_ADDR_1            30699 non-null  object
 3   SITE_ADDR_2            30699 non-null  object
 4   SITE_ADDR_3            30699 non-null  object
 5   STATE_CLASS            30699 non-null  object
 6   NEIGHBORHOOD_CODE      30699 non-null  float64
 7   NEIGHBORHOOD_GROUP     30699 non-null  int64
 8   ACREAGE                30699 non-null  float64
 9   TOTAL_APPRAISED_VALUE  30699 non-null  float64
 10  NEW_OWNER_DATE         30699 non-null  object
 11  TOTAL_MARKET_VALUE     30699 non-null  float64
 12  LAND_VALUE             30699 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 3.3+ MB

In [17]:
# change all column names to lowercase:
Inner_Loop_2018.columns= Inner_Loop_2018.columns.str.lower()
Inner_Loop_2019.columns= Inner_Loop_2019.columns.str.lower()
Inner_Loop_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30765 entries, 1196 to 1444628
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   account                30765 non-null  int64
 1   tax_year               30765 non-null  int64
 2   site_addr_1            30765 non-null  object
 3   site_addr_2            30765 non-null  object
 4   site_addr_3            30765 non-null  object
 5   state_class            30765 non-null  object
 6   neighborhood_code      30765 non-null  float64
 7   neighborhood_group     30765 non-null  int64
 8   acreage                30765 non-null  float64
 9   total_appraised_value  30765 non-null  float64
 10  new_owner_date         30765 non-null  object
 11  total_market_value     30765 non-null  object
 12  land_value             30765 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.3+ MB

In [18]:
# normalize data
properties=Inner_Loop_2019[["account","site_addr_1","site_addr_2", "site_addr_3","state_class","neighborhood_code","acreage","new_owner_date"]]

properties["full_addr"]=properties["site_addr_1"]+" "+properties["site_addr_2"]+ ", TEXAS "+properties["site_addr_3"]
properties=properties.drop("site_addr_1", axis=1)
properties=properties.drop("site_addr_2", axis=1)
properties.head()

<ipython-input-18-16efef7c09ac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  properties["full_addr"]=properties["site_addr_1"]+" "+properties["site_addr_2"]+ ", TEXAS "+properties["site_addr_3"]

,account,site_addr_3,state_class,neighborhood_code,acreage,new_owner_date,full_addr
1196,21750000003,77002,A1,8400.07,0.0405,2009-10-13 00:00:00.000,"2202 CAROLINE ST HOUSTON, TEXAS 77002"
1200,21750000013,77002,A1,8400.01,0.3099,1995-08-02 00:00:00.000,"2218 CAROLINE ST HOUSTON, TEXAS 77002"
1203,21750000018,77002,A1,8400.07,0.0348,2018-06-29 00:00:00.000,"2204 CAROLINE ST HOUSTON, TEXAS 77002"
1204,21750000019,77002,A1,8400.07,0.0395,2001-01-01 00:00:00.000,"2206 CAROLINE ST HOUSTON, TEXAS 77002"
3748,41320000003,77006,A1,8316.03,0.1378,2014-12-12 00:00:00.000,"105 STRATFORD ST HOUSTON, TEXAS 77006"

In [19]:
tax_year_2019= Inner_Loop_2019[["tax_year","account","total_appraised_value","total_market_value","land_value"]]

tax_year_2018= Inner_Loop_2018[["tax_year","account","total_appraised_value","total_market_value","land_value"]]

In [20]:
appraisal=tax_year_2019.append(tax_year_2018)
appraisal.sample(10)
appraisal.to_csv("appraisal_hcad_extract.csv")

Get Square footage data

In [21]:
# GET THE RESIDENTIAL DATA CONTAINING HEAT AREA WHICH IS ACTUAL HOME SQUARE FOOTAGE:
# define file name 
# reference: hhttps://www.simplifiedpython.net/python-zip-file-example/
SQFT = "Resources/building_res.zip"
  
#Open the zip file in read mode
SQFT_DATA = zipfile.ZipFile(SQFT, mode='r')

print('Extracting one file...')
SQFT_DATA.extract("building_res.txt")

print('Extracting Done!')
SQFT_DATA.close()

Extracting one file...
Extracting Done!

In [22]:
# extract data from building_res.txt
data=[]
csv.field_size_limit(100000000)
field_names=["ACCOUNT","USE_CODE", "BUILDING_NUMBER", "IMPRV_TYPE", "BUILDING_STYLE_CODE", "CLASS_STRUCTURE",\
                      "CLASS_STRUCTURE_DESC", "DEPRECIATION_VALUE", "CAMA_REPLACMENT_COST", "ACCRUED_DEPR_PCT",\
                      "QUALITY","QUALITY_DESC", "DATE_ERECTED", "EFFETIVE_DATE", "YR_REMODEL","YR_ROLL", "APPRAISED_BY",\
                      "APPRAISED_DATE", "NOTE", "IMPR_SQ_FT", "ACTUAL_AREA", "HEAT_AREA", "GROSS_AREA", "EFFECTIVE_AREA",\
                       "BASE_AREA", "PERIMETER", "PERCENT_COMPLETE","NBHD_FACTOR", "RCNLD", "SIZE_INDEX", "LUMP_SUM_ADJ"]

with open('building_res.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    print(csvreader)
    for row in csvreader:
        data.append(row)
        
building_res_2019=pd.DataFrame(columns=field_names, data=data)
building_res_2019.sample(2)

<_csv.reader object at 0x0000029B7ACA25E0>

,ACCOUNT,USE_CODE,BUILDING_NUMBER,IMPRV_TYPE,BUILDING_STYLE_CODE,CLASS_STRUCTURE,CLASS_STRUCTURE_DESC,DEPRECIATION_VALUE,CAMA_REPLACMENT_COST,ACCRUED_DEPR_PCT,...,HEAT_AREA,GROSS_AREA,EFFECTIVE_AREA,BASE_AREA,PERIMETER,PERCENT_COMPLETE,NBHD_FACTOR,RCNLD,SIZE_INDEX,LUMP_SUM_ADJ
509736,1077460000012,A1,1,1001,101,R,Residential,143059,242473,.590000,...,2290,3266,2473,2290,428,1.00,1.2500,114447.20,.84000,15699
566381,1113360000001,Z1,1,1006,106,R,Residential,28875,58929,.490000,...,620,620,620,620,102,1.00,1.2000,24062.50,1.10000,2887

In [23]:
duplicated_res= building_res_2019[building_res_2019.duplicated(['ACCOUNT'], keep= False)].sort_values('ACCOUNT')
duplicated_res

,ACCOUNT,USE_CODE,BUILDING_NUMBER,IMPRV_TYPE,BUILDING_STYLE_CODE,CLASS_STRUCTURE,CLASS_STRUCTURE_DESC,DEPRECIATION_VALUE,CAMA_REPLACMENT_COST,ACCRUED_DEPR_PCT,...,HEAT_AREA,GROSS_AREA,EFFECTIVE_AREA,BASE_AREA,PERIMETER,PERCENT_COMPLETE,NBHD_FACTOR,RCNLD,SIZE_INDEX,LUMP_SUM_ADJ
1,0021440000008,A1,1,1001,101,R,Residential,2170,5710,.380000,...,656,680,664,656,108,1.00,1.5600,1391.03,1.10000,285
127,0021440000008,A1,2,1001,101,R,Residential,2170,5710,.380000,...,656,680,664,656,108,1.00,1.5600,1391.03,1.10000,285
2,0021660000005,B3,1,1003,103,R,Residential,59494,118987,.500000,...,1750,2050,1743,1750,240,1.00,1.5600,38137.18,.88000,8568
359,0021660000005,B3,2,1001,101,R,Residential,70756,203030,.348500,...,3116,3674,3110,3116,334,1.00,1.5600,45356.41,.79000,15528
56,0021660000009,B2,2,1002,102,R,Residential,4250,10366,.410000,...,1320,1352,1331,1320,148,1.00,1.5600,2724.36,.94000,849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164236,1404660010002,A1,1,1001,101,R,Residential,18468,51300,.360000,...,557,612,575,557,106,1.00,1.4900,12394.63,1.11000,3040
1164166,1404660010003,A1,1,1001,101,R,Residential,18468,51300,.360000,...,557,612,575,557,106,1.00,1.4900,12394.63,1.11000,3040
1164237,1404660010003,A1,2,1001,101,R,Residential,18468,51300,.360000,...,557,612,575,557,106,1.00,1.4900,12394.63,1.11000,3040
1188248,6000003020407,M3,2,1008,109,M,Mobile Home,20611,44806,.460000,...,1456,1456,877,1456,164,1.00,1.0000,20611.00,1.00000,0
1191979,6000003020407,M3,1,1008,109,M,Mobile Home,45381,57444,.790000,...,1456,1456,877,1456,164,1.00,1.0000,45381.00,1.00000,0

Based on the duplicated IDs it is evident that there are multiple buildings associated with each account in some cases.
to resolve this we will group by account and sum the heat area to get the net square footage of all buildings on each property.

In [24]:
building_res_2019grouped= building_res_2019.groupby(['ACCOUNT'])
building_res_2019grouped.head()

,ACCOUNT,USE_CODE,BUILDING_NUMBER,IMPRV_TYPE,BUILDING_STYLE_CODE,CLASS_STRUCTURE,CLASS_STRUCTURE_DESC,DEPRECIATION_VALUE,CAMA_REPLACMENT_COST,ACCRUED_DEPR_PCT,...,HEAT_AREA,GROSS_AREA,EFFECTIVE_AREA,BASE_AREA,PERIMETER,PERCENT_COMPLETE,NBHD_FACTOR,RCNLD,SIZE_INDEX,LUMP_SUM_ADJ
0,0021440000001,A1,1,1001,101,R,Residential,248821,314963,.790000,...,2537,2803,2523,2537,314,1.00,1.5600,159500.64,.82000,15912
1,0021440000008,A1,1,1001,101,R,Residential,2170,5710,.380000,...,656,680,664,656,108,1.00,1.5600,1391.03,1.10000,285
2,0021660000005,B3,1,1003,103,R,Residential,59494,118987,.500000,...,1750,2050,1743,1750,240,1.00,1.5600,38137.18,.88000,8568
3,0021870000006,A1,3,1001,101,R,Residential,11126,50574,.220000,...,560,640,586,560,96,1.00,1.8800,5918.09,1.11000,2950
4,0022080000002,A1,1,1001,101,R,Residential,162310,200383,.810000,...,1360,2130,1653,1360,222,1.00,1.8800,86335.11,.94000,9048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192600,6000003023610,M3,1,1008,108,M,Mobile Home,31378,32685,.960000,...,858,858,499,858,158,1.00,1.0000,31378.00,1.00000,0
1192601,6000003023634,M3,1,1008,108,M,Mobile Home,12503,46309,.270000,...,1216,1216,707,1216,184,1.00,1.0000,12503.00,1.00000,0
1192602,6000003023733,M3,1,1008,108,M,Mobile Home,Pending,Pending,.150000,...,784,784,456,784,140,1.00,1.0000,4480.00,1.00000,0
1192603,6000003024315,M3,1,1008,108,M,Mobile Home,Pending,Pending,.880000,...,1280,1280,744,1280,192,1.00,1.0000,42884.00,1.00000,0
1192604,6000003024317,M3,1,1008,108,M,Mobile Home,Pending,Pending,.960000,...,1216,1216,707,1216,184,1.00,1.0000,44457.00,1.00000,0

In [25]:
building_res_2019_sum=building_res_2019grouped["HEAT_AREA"].sum()

In [26]:
home_sq_ft=building_res_2019_sum.reset_index()
home_sq_ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164714 entries, 0 to 1164713
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   ACCOUNT    1164714 non-null  object
 1   HEAT_AREA  1164714 non-null  object
dtypes: object(2)
memory usage: 17.8+ MB

In [27]:
# Heat area is actual sq footage of home, islotate this portion of data set and reformat column names

home_sq_ft=home_sq_ft.rename(columns={"HEAT_AREA":"sq_ft"})
home_sq_ft.loc[:,("sq_ft")]=pd.to_numeric(home_sq_ft["sq_ft"], errors='coerce')
home_sq_ft.loc[:,("ACCOUNT")]=pd.to_numeric(home_sq_ft["ACCOUNT"], errors='coerce')
home_sq_ft.columns= home_sq_ft.columns.str.lower()
home_sq_ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164714 entries, 0 to 1164713
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   account  1164714 non-null  int64
 1   sq_ft    1164714 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 17.8 MB

In [28]:
home_sq_ft=home_sq_ft.rename(columns={"ACCOUNT":"account"})

In [29]:
# merge sq ft into properties table on account
properties= properties.merge(home_sq_ft,how='left', on='account')
properties=properties.rename(columns={'site_addr_3':'zip_code'})
properties=properties.drop('state_class', axis=1)

In [30]:
properties.head()

,account,zip_code,neighborhood_code,acreage,new_owner_date,full_addr,sq_ft
0,21750000003,77002,8400.07,0.0405,2009-10-13 00:00:00.000,"2202 CAROLINE ST HOUSTON, TEXAS 77002",1944.0
1,21750000013,77002,8400.01,0.3099,1995-08-02 00:00:00.000,"2218 CAROLINE ST HOUSTON, TEXAS 77002",2471.0
2,21750000018,77002,8400.07,0.0348,2018-06-29 00:00:00.000,"2204 CAROLINE ST HOUSTON, TEXAS 77002",1944.0
3,21750000019,77002,8400.07,0.0395,2001-01-01 00:00:00.000,"2206 CAROLINE ST HOUSTON, TEXAS 77002",1944.0
4,41320000003,77006,8316.03,0.1378,2014-12-12 00:00:00.000,"105 STRATFORD ST HOUSTON, TEXAS 77006",2576.0

In [31]:
# check for duplicates on account:
duplicated_prop= properties[properties.duplicated(['account'], keep= False)].sort_values('account')
duplicated_prop

Empty DataFrame
Columns: [account, zip_code, neighborhood_code, acreage, new_owner_date, full_addr, sq_ft]
Index: []

In [32]:
properties.to_csv("properties_hcad_extract.csv")
properties.sample(10)

,account,zip_code,neighborhood_code,acreage,new_owner_date,full_addr,sq_ft
3337,393210000005,77005,7427.01,0.1722,1995-11-01 00:00:00.000,"6408 BUFFALO SPEEDWAY HOUSTON, TEXAS 77005",3114.0
30599,1376300010001,77098,8312.02,0.0626,2017-01-01 00:00:00.000,"2411 RICHTON ST HOUSTON, TEXAS 77098",3630.0
16298,690270020006,77098,8312.00,0.1578,2009-09-24 00:00:00.000,"2223 COLQUITT ST HOUSTON, TEXAS 77098",4129.0
16770,720070190008,77025,7447.01,0.2125,2011-01-17 00:00:00.000,"3707 UNDERWOOD ST HOUSTON, TEXAS 77025",2978.0
26244,1223790020003,77019,8318.01,0.0459,2004-01-14 00:00:00.000,"1308 ROBIN ST HOUSTON, TEXAS 77019",1444.0
5117,522750000025,77019,8316.05,0.0356,1993-01-02 00:00:00.000,"1912 HADDON ST HOUSTON, TEXAS 77019",2072.0
1252,261470000021,77006,8316.07,0.0230,2009-07-23 00:00:00.000,"3507 STANFORD ST HOUSTON, TEXAS 77006",1400.0
27194,1244950010002,77006,8319.00,0.0431,2017-02-28 00:00:00.000,"1844 MARYLAND ST HOUSTON, TEXAS 77006",2362.0
21789,805790000013,77025,7454.02,0.1653,2013-08-05 00:00:00.000,"4037 OMEARA DR HOUSTON, TEXAS 77025",1432.0
23953,1164320020031,77027,8316.10,0.0435,2019-12-18 00:00:00.000,"3262 LAS PALMAS ST HOUSTON, TEXAS 77027",2164.0

In [33]:
# make a datframe 
data=[]
field_names=["neighborhood_code", "group_code", "description"]

with open('resources/real_neighborhood_code.txt','r')as txtfile:
    csvreader=csv.reader(txtfile, delimiter = '\t')
    for row in csvreader:
        data.append(row)
neighborhood_code=pd.DataFrame(columns=field_names, data=data)
neighborhood_code.sample(5)

      neighborhood_code group_code                   description
3354            2747.06      17008              HUNTWICK ESTATES
3695            2916.01      19015  CINCO RANCH GREENWAY VLG 5,8
10934           8405.05       1304    RIVERSIDE TERR (MACGREGOR)
1268             211.06       4141                   BRIDLECREEK
7699            5903.01          0               MUSEUM DISTRICT

In [34]:
neighborhood_code=neighborhood_code.rename(columns={'group_code':'neighborhood_group',\
                                                   'description':'neighborhood'})
neighborhood_code['neighborhood_code']=pd.to_numeric(neighborhood_code['neighborhood_code'], errors='coerce')
neighborhood_code['neighborhood_group']=pd.to_numeric(neighborhood_code['neighborhood_group'], errors='coerce')

neighborhood_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12362 entries, 0 to 12361
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   neighborhood_code   12362 non-null  float64
 1   neighborhood_group  12357 non-null  float64
 2   neighborhood        12362 non-null  object
dtypes: float64(2), object(1)
memory usage: 289.9+ KB

In [35]:
neighborhood_code.head(20)
neighborhood_code.to_csv("neighborhoods_hcad_extract.csv")

check account fields for duplication

In [33]:
#  properties:
properties_check= properties
duplicated= properties_check[properties_check.duplicated('account', keep= False)]
print(duplicated)

Empty DataFrame
Columns: [account, zip_code, neighborhood_code, acreage, new_owner_date, full_addr, sq_ft]
Index: []

In [35]:
duplicated_appr= appraisal[appraisal.duplicated(['account', 'tax_year'], keep= False)].sort_values('account')
duplicated_appr
# no ducplicates if you use a account and tax year dual primary key

Empty DataFrame
Columns: [tax_year, account, total_appraised_value, total_market_value, land_value]
Index: []